#dashboard .dashboard-region div.block div.content ul.menu {
	margin: 0;
}
#dashboard .dashboard-region ul.menu li {
	list-style: none;
}
#dashboard .views-exposed-form .form-item input {
  max-width: 200px;
}
#dashboard .chosen-container {
  max-width: 200px;
}
#dashboard .commerce-backoffice-view .views-exposed-form .views-widget-filter-combine {
  bottom: auto;
  top: auto;
  right: auto;
  position: static;
  padding: 0;
}

/* Disable Status and Mehrwertsteuersatz from Product Display Form*/
.form-item-field-commerce-product-und-form-status,
.field-name-field-product-tax {
  display: none !important;
}
/* Hide superfluous fieldsets from product reference vertical tab */
#edit-field-commerce-product-und,
#edit-field-commerce-product-und-form-product-details {
    border: 0 none !important;
    padding: 0 !important;
      legend {
        display: none;
      }
}

/* Buchhaltung */
.vbo-views-form #edit-select input {
	padding: 1em;
	margin-bottom: 1em;
}
#edit-rules-componentrules-commerce-order-status-completed {
	background: #0e9c57;
}
#edit-rules-componentrules-mahnsystem {
	background: #fbb900;
}
 
#views-form-buchhaltung-page-2 input.form-submit:hover {
	color: #444;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
}
